version: "3.9"

services:
  db:
    image: postgres:15
    container_name: support_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: support_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: support_web
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
    - ./app:/app/app          # ключевой момент: монтируем в /app/app
    - ./app/uploads:/app/uploads
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/support_db
      UPLOAD_DIR: /app/uploads
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
